body {
  text-align: center;
  height: 100vh;
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.noodle-logo {
  height: 80px;
  width: 100px;
}

.navbar-brand {
  padding-left: 20px;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 225, 176, 0.918);
}

#nav-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

nav {
  justify-content: space-between;
  width: 100%;
  padding-bottom: 0px;
}
nav .title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-family: "Merienda", cursive;
}
nav #navigation {
  color: black;
  text-decoration: none;
}
nav #navigation:hover {
  color: #ff6905;
}
nav .navbar-collapse {
  justify-content: flex-end;
  padding-right: 20px;
}
nav .navbar-toggler {
  margin-right: 20px;
  color: black;
}
nav .navbar-toggler:focus {
  box-shadow: none;
}
nav #nav-icons {
  margin-right: 10px;
}

@media (max-width: 576px) {
  #nav-container {
    border: none;
    padding: 0px;
    background-color: rgba(245, 225, 176, 0.918);
  }

  #mobile-container {
    display: flex;
    flex-direction: row;
  }
  #mobile-container .navbar-toggler {
    color: black;
    background-color: rgba(201, 185, 145, 0.918);
    border: solid 2px wheat;
  }
  #mobile-container .navbar-toggler:focus {
    box-shadow: none;
  }
  #mobile-container .title {
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    width: 50% !important;
    font-family: "Merienda", cursive;
  }

  nav .navbar-collapse {
    justify-content: flex-end;
    padding-right: 0px !important;
    width: 100%;
  }
  nav #navigation:hover {
    color: #ff6905;
  }
}
.main-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgba(245, 225, 176, 0.918);
}
.main-title #main-title-left-side,
.main-title .title-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 50px;
}
.main-title #main-title-right-side {
  display: flex;
}
.main-title #button-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.main-title #button-div a {
  text-decoration: none;
  color: white;
}
.main-title #button-div a:visited {
  text-decoration: none;
  color: white;
}
.main-title .purchase-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 200px;
  margin: 20px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  background-color: #ff6905;
  color: white;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.main-title .purchase-btn:hover {
  background-color: #f39759;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (max-width: 576px) {
  .main-title .ramen-bowl,
.main-title #main-title-right-side {
    width: 400px;
    height: 400px;
  }
}

.about {
  padding-top: 20px;
  background-color: #ff6905;
  color: white;
}

.about-head {
  font-family: "Merienda", cursive;
  text-decoration: underline;
}

#about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#about-section .about-description {
  padding: 20px;
  padding-top: 90px;
  font-size: 24px;
}

#bio-segment {
  display: flex;
  flex-direction: row;
}

#about-img-div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 10px;
}
#about-img-div .about-img {
  height: 400px;
  width: 400px;
}

#flow-chart-container {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

#flow-chart-div {
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
}
#flow-chart-div #flowchart-box {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 225, 176, 0.918);
  color: black;
  width: 300px;
  height: 200px;
  text-align: center;
  margin: 10px;
  padding: 20px;
}
#flow-chart-div #flowchart-box .flow-header {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .about-description {
    padding: 20px;
    padding-top: 20px !important;
    font-size: 24px;
  }

  #about-img-div {
    display: none;
  }
}
.pricing-section-head {
  padding-top: 30px;
  font-family: "Merienda", cursive;
}

#pricing-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

#pricing-box, #pricing-box3 {
  text-align: center;
  height: 600px;
  margin: 20px;
  border: 8px solid rgba(245, 225, 176, 0.918);
}

.price-title {
  color: #f39759;
  text-decoration: underline;
  font-family: "Merienda", cursive;
  padding-top: 10px;
}

.included-header {
  color: #f39759;
  text-decoration: underline;
  padding-top: 20px;
}

#first-price-head {
  padding-top: 0px;
}

ul {
  list-style: none;
}

.orange-text {
  color: #f39759;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.price {
  color: #f39759;
}

#box-1-price {
  padding-top: 44px;
}

#box-2-price {
  padding-top: 23px;
}

#sub-button-div, #sub-button-div-3, #sub-button-div2 {
  margin-top: 50px;
  padding-bottom: 50px;
}
#sub-button-div .sub-button, #sub-button-div-3 .sub-button, #sub-button-div2 .sub-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 50px;
  padding: 20px;
  border: none;
  border-radius: 30px;
  background-color: #ff6905;
  color: white;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
#sub-button-div .sub-button:hover, #sub-button-div-3 .sub-button:hover, #sub-button-div2 .sub-button:hover {
  text-decoration: none;
  color: white;
  height: 50px;
  background-color: #f39759;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media (max-width: 576px) {
  #pricing-box {
    text-align: center;
    height: 500px;
    margin: 20px;
    border: 8px solid rgba(245, 225, 176, 0.918);
  }

  #pricing-box3 {
    text-align: center;
    height: 600px;
    margin: 20px;
    border: 8px solid rgba(245, 225, 176, 0.918);
  }

  .included-header {
    padding: 0px;
  }

  .included-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 50px;
  }

  .price {
    color: #f39759;
  }

  #box-1-price {
    padding-top: 0px;
  }

  #box-2-price {
    padding-top: 0px;
  }

  #sub-button-div-3 {
    margin-top: 70px;
  }

  .sub-button {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
